<div class="login">
    <div class="login-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

              <!-- Login begins -->
              <div class="login-wrapper">
                <div class="helper center">
                    <app-logo></app-logo>
                 </div>

                  <!-- Toast success message -->
              <div class="form-group" toastContainer>
              </div>

                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="login-inputs">
                        <input type="text" class="form-control" id="username" placeholder="Username or Email" formControlName="username" required>
                        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required>
                     </div>
                    <button type="submit" class="button green full">Sign in</button>
                </form>
                <ul class="login-helpers">
                    <li class="login-helper-item">Don't have an account?
                        <a routerLink="/auth/register">Sign Up.</a>
                    </li>
                    <li class="login-helper-item">
                        <a routerLink="/auth/reset-password">Forgot your password</a>
                    </li>
                </ul>
            </div>
              <!-- Login ends -->

          </div>
        </div>
      </div>
    </div>
  </div>
