<div class="login-wrapper">
    <div class="helper center">
        <app-logo></app-logo>
     </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login-inputs">
            <input type="text" class="form-control" id="username" placeholder="Username or Email" formControlName="username" required>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required>
         </div>
        <button type="submit" class="button green full">Sign in</button>
    </form>
    <ul class="login-helpers">
        <li class="login-helper-item">Don't have an account?
            <a href="#">Sign Up.</a>
        </li>
        <li class="login-helper-item">
            <a href="#">Forgot your password</a>
        </li>
    </ul>
</div>

<!-- 
<div class="header center">Log In</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
  </div>

</form> -->