<div class="login-wrapper">
    <div class="helper center">
        <app-logo></app-logo>
     </div>
    <form action="#" class="login-form">
        <div class="login-inputs">
            <input type="text" class="form-control" placeholder="Email">
            <input type="password" class="form-control" placeholder="Password"> </div>
        <button type="submit" class="button green full">Sign in</button>
    </form>
    <ul class="login-helpers">
        <li class="login-helper-item">Don't have an account?
            <a href="#">Sign Up.</a>
        </li>
        <li class="login-helper-item">
            <a href="#">Forgot your password</a>
        </li>
    </ul>
</div>