<div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <!-- Logo Image -->
        <a href="index.html" class="logo-image logo-animated">
          <img src="assets/img/logos/logo.png" alt="logo">
        </a>
        <!-- End of Logo Image -->
      </div>
      <div class="col-md-9 col-sm-6 col-xs-6">
        <!-- Menu -->
        <nav class="right helper">
          <ul class="menu sf-menu js-menu">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="/blog">Blog</a>
            </li>
            <li>
              <a href="contacts.html">Suscribe</a>
            </li>
            <li>
              <a href="changelog.html">About Us</a>
            </li>
            <li>
              <a href="contacts.html">Contact Us</a>
            </li>
          </ul>
        </nav>
        <!-- End of Menu -->
      </div>
    </div>
  </div>