<div class="register-wrapper">
    <div class="helper center">
       <app-logo></app-logo>
    </div>
    <form action="#" class="register-form">
        <div class="register-inputs">
            <input type="text" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Name">
            <input type="password" class="form-control" placeholder="Password">
            <input type="password" class="form-control" placeholder="Repeat password"> </div>
        <input type="checkbox" class="register-checkbox" id="terms">
        <label for="terms">I accept the
            <a href="#">terms and conditions</a>.</label>
        <button type="submit" class="button green full">Create account</button>
    </form>
    <ul class="register-helpers">
        <li class="register-helper-item">Already have an account?
            <a href="#">Sign In.</a>
        </li>
    </ul>
</div>