<div class="row">
    <div class="col-md-12 col-sm-12">
      <!-- Blog List -->
      <div class="blog-grid">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <div class="blog-grid-image">
              <a routerLink='/article/{{ post.slug }}'>
                <span class="blog-grid-image-over"></span>
                <img src="{{ post.image }}" class="" alt="article image"> </a>
            </div>
          </div>
          <div class="col-md-8 col-sm-7">
            <h3 class="blog-grid-title">
              <a routerLink='/article/{{post.slug}}'>{{ post.title }}</a>
            </h3>
            <p class="blog-grid-excerpt"   [innerHTML]="post.summary | safe: 'html'"></p>
            <div class="blog-grid-meta">
              <span class="blog-grid-date">{{ post.date_display }}</span>
              <span class="blog-grid-author">by
                <a routerLink="/author/{{ post.author.username }}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Blog List -->
    </div>
  </div>