<div class="row">
    <div class="col-md-12 col-sm-12">
      <!-- Blog List -->
      <div class="blog-grid">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <div class="blog-grid-image">
              <a href="article.html">
                <span class="blog-grid-image-over"></span>
                <img src="http://placehold.it/1280x853" class="" alt="article image"> </a>
            </div>
          </div>
          <div class="col-md-8 col-sm-7">
            <h3 class="blog-grid-title">
              <a href="article.html">Consectetur adipisicing elit. Neque earum beatae ex est numquam!</a>
            </h3>
            <p class="blog-grid-excerpt"> Reiciendis inventore culpa quo pariatur minima, voluptates hic eum vitae harum architecto similique, ipsa nam unde recusandae placeat assumenda! Repudiandae dolores. </p>
            <div class="blog-grid-meta">
              <span class="blog-grid-date">October 28, 2015</span>
              <span class="blog-grid-author">by
                <a href="#">John Doe</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Blog List -->
    </div>
  </div>