<!-- <form action="#" class="comment-form"> -->
<form action="#" class="comment-form" [formGroup]="commentForm" (ngSubmit)="createNewComment()">
    <div class="row">
        <div class="col-md-6" *ngIf="!isLoggedIn">
            <ul class="comment-form-list">
                <li class="comment-form-list-item">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name" required>
                 </li>
                <li class="comment-form-list-item">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
                 </li>
                <li class="comment-form-list-item">
                    <input type="text" class="form-control" placeholder="Website" formControlName="website" required>
                 </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="comment-form-list">
                <li class="comment-form-list-item">
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Comment" formControlName="content" required>

                    </textarea>
                </li>
                <li class="comment-form-list-item">
                    <button type="submit" class="">
                        <!-- <span *ngIf="commentMode">Post comment</span>
                        <span *ngIf="!commentMode">Post a reply</span> -->
                        Post Comment
                    </button>
                </li>
            </ul>
        </div>
    </div>
</form>
<!-- *ngIf="headerBack.content" -->