<ul class="menu-vertical  js-menu-vertical" data-prepend-to=".js-layout" data-select="Menu">
    <li>
      <a href="#">Tutorials</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Plugins</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Partners</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Affiliates</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Events</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Faq</a>
      <ul>
        <li>
          <a href="#">Instalation</a>
          <ul>
            <li>
              <a href="views.html">Manually</a>
            </li>
            <li>
              <a href="views.html">Wizard</a>
            </li>
            <li>
              <a href="views.html">Softaculous</a>
            </li>
            <li>
              <a href="views.html">Fantastico</a>
            </li>
            <li>
              <a href="views.html">Transfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Create</a>
          <ul>
            <li>
              <a href="views.html">Multimedia</a>
            </li>
            <li>
              <a href="views.html">Post</a>
            </li>
            <li>
              <a href="views.html">Categories</a>
            </li>
            <li>
              <a href="views.html">Comments</a>
            </li>
            <li>
              <a href="views.html">Themes</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>