<div class="sidebar js-sidebar-fixed">

  <div class="widget">
    <!-- suscribe -->
    <div class="search">
          <app-subscribe></app-subscribe>
    </div>
    <!-- End of suscribe -->
  </div>

    <!-- Vertical Menu -->
    <nav class="menu-vertical-wrapper">
      <app-sidebarmenu></app-sidebarmenu>
    </nav>

    <div class="widget">
      <!-- Search -->
      <div class="search">
            <app-search></app-search>
      </div>
      <!-- End of Search -->
    </div>
    
    <div class="widget">
      <h3 class="widget-title">Most viewed posts</h3>
      <!-- Recommended products -->
          <app-small-post-card></app-small-post-card>
      <!-- End of Recommended products -->
    </div>
    
    <div class="widget">
      <h3 class="widget-title">Tags</h3>
      <!-- Tags -->
      <ul class="tags">
          <app-tag-card></app-tag-card>
      </ul>
      <!-- End of Tags -->
    </div>
  </div>