<div class="login-wrapper">
    <div class="helper center">
        <app-logo></app-logo>
     </div>
    <form class="login-form" [formGroup]="resetForm" (ngSubmit)="setNewPassword()">
        <div class="login-inputs">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
         </div>
        <button type="submit" class="button green full">Save changes</button>
    </form>
    <ul class="login-helpers">
        <li class="login-helper-item">Have an account?
            <a routerLink="/auth"> Sign In </a>
        </li>
        <li class="login-helper-item">Don't have an account?
            <a routerLink="/auth/register"> Sign Up </a>
        </li>
    </ul>
</div>
