<form action="#" class="register-form" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="form-group col-md-6">
            <label for="country">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
        </div>
        <div class="form-group col-md-6">
            <label for="country">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name">
        </div>
        <div class="form-group col-md-6">
            <label for="country">Email</label>
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-3">
            <label for="country">Website</label>
            <input type="text" class="form-control" placeholder="Website" formControlName="website">
        </div>
        <div class="form-group col-md-3">
            <label for="country">Phone</label>
            <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
        </div>
        <div class="form-group col-12">
         <label for="country">Country:</label>
            <select name="status" id="status" class="form-control" formControlName="country">
                    <option *ngFor="let country of countries" [value]="country.name">
                        {{country.name}}
                    </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="button small blue">
                Update profile
            </button>
        </div>
        
    </form>