<li class="comment-list-item">
    <!-- Comment Content -->
    <div class="comment-content">
        <!-- Comment User Photo -->
        <div class="comment-user-photo">
            <img src="http://placehold.it/120x120" class="" alt="user profile photo"> </div>
        <!-- End of Comment User Photo -->
        <!-- Comment Body -->
        <div class="comment-body">
            <div class="comment-header">
                <!-- Comment User Name -->
                <div class="comment-username">
                    <a href="#">Liane Gochie</a>
                </div>
                <!-- End of Comment User Name -->
                <!-- Comment Meta -->
                <ul class="comment-meta">
                    <li class="comment-likes">1 likes</li>
                    <li class="comment-date">2015-09-15</li>
                </ul>
                <!-- End of Comment Meta -->
            </div>
            <!-- Comment Message -->
            <p class="comment-message"> Eveniet, asperiores, atque ratione excepturi tempore rem, illum eius nam qui nostrum laboriosam nihil. Soluta ipsam minima dolorem labore placeat inventore temporibus. </p>
            <!-- End of Comment Message -->
            <!-- Comment Actions -->
            <ul class="comment-actions">
                <li class="comment-action-item">
                    <a class="comment-action-like " href="#">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>
                <li class="comment-action-item">
                    <a class="comment-action-reply" href="#">
                        <i class="fa fa-reply"></i>
                    </a>
                </li>
            </ul>
            <!-- End of Comment Actions -->
        </div>
        <!-- End of Comment Body -->
    </div>
    <!-- End of Comment Content -->
</li>