    <!-- Comments -->
    <div class="comments" id="article-comments">
        <h3 class="article-widget-title"> Leave a comment </h3>
        <!-- Comment Form -->
            <app-comment-form (articleCommentCount)="articleCommentCount($event)" (commentCreated)="commentCreated($event)">

            </app-comment-form>
        <!-- End of Comment Form -->

        <ul class="comment-list" *ngFor="let comment of comments">
            <app-comment-card  [comment]='comment'></app-comment-card>
        </ul> 
    </div>
    <!-- End of Comments -->
