<div class="contacts">
    <h3 class="contacts-title"> Still have questions? Leave us a message. </h3>
    <!-- Success Modal -->
    <div class="contacts-success js-contacts-success">
        <i class="pe-7s-check"></i>Your message was sent successfully.
        <br>Thank you!</div>
    <!-- End of Success Modal -->
    <form action="php/contact.php" id="js-contact-form">
        <ul class="contacts-inputs">
            <li class="contacts-item">
                <label for="full-name" class="contacts-label">Full Name</label>
                <!-- This input is required -->
                <input type="text" name="full-name" id="full-name" class="contacts-input form-control" data-validation="required"> </li>
            <li class="contacts-item">
                <label for="email" class="contacts-label">Email</label>
                <!-- This input should be filled with a valid email and it's required -->
                <input type="text" name="email" id="email" class="contacts-input form-control" data-validation="required email"> </li>
            <li class="contacts-item">
                <label for="company" class="contacts-label">Company</label>
                <!-- This input if optional -->
                <input type="text" name="company" id="company" class="contacts-input form-control"> </li>
            <li class="contacts-item">
                <label for="website" class="contacts-label">Website</label>
                <!-- This input should be filled with a valid URL and it's optional -->
                <input type="text" name="website" id="website" class="contacts-input form-control" data-validation="url" data-validation-optional="true"> </li>
            <li class="contacts-item">
                <label for="country" class="contacts-label">Country</label>
                <!-- This input is optional -->
                <input type="text" name="country" id="country" class="contacts-input form-control"> </li>
            <li class="contacts-item">
                <label for="message" class="contacts-label">Message</label>
                <!-- This input is required -->
                <textarea id="message" name="message" class="contacts-input form-control" data-validation="required"></textarea>
            </li>
        </ul>
        <button class="button blue full">Send Message</button>
    </form>
</div>