<li class="comment-list-item">
    <!-- Comment Content -->
    <div class="comment-content">
        <!-- Comment User Photo -->
        <div class="comment-user-photo">
            <img src="{{ comment.user.profile_image }}" class="" alt="user profile photo"> </div>
        <!-- End of Comment User Photo -->
        <!-- Comment Body -->
        <div class="comment-body">
            <div class="comment-header">
                <!-- Comment User Name -->
                <div class="comment-username">
                    <a routerLink="/author/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
                </div>
                <!-- End of Comment User Name -->
                <!-- Comment Meta -->
                <ul class="comment-meta">
                    <li class="comment-likes">11 likes</li>
                    <li class="comment-date">{{ comment.date_display }}</li>
                </ul>
                <!-- End of Comment Meta -->
            </div>
            <!-- Comment Message -->
            <p class="comment-message" [innerHTML]="comment.content | safe: 'html'">
                </p>
            <!-- End of Comment Message -->
            <!-- Comment Actions -->
            <ul class="comment-actions">
                <li class="comment-action-item">
                    <a class="comment-action-like comment-action-liked" href="#">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>
                <li class="comment-action-item">
                    <span id="reply-span" class="comment-action-reply" (click)="replyClicked()">
                        <i class="fa fa-reply"></i>
                    </span>
                    <!-- <a class="comment-action-reply" href="#" (click)="replyClicked()">
                        <i class="fa fa-reply"></i>
                    </a> -->
                </li>
            </ul>
            <!-- End of Comment Actions -->
        </div>
        <!-- End of Comment Body -->
    </div>
    <!-- End of Comment Content -->


    <div class="comment-reply" *ngIf="isReply">
        <h3 class="article-widget-title"> Reply to comment </h3>
        <!-- Comment Form -->
            <app-comment-reply-form [parentCommentId]="parentCommentId" (replyCommentCreated)="replyCommentCreated($event)"></app-comment-reply-form>
        <!-- End of Comment Form -->
     
        <ul class="comment-list" *ngFor="let reply of replies">
            <app-reply-comment-card [reply]='reply'></app-reply-comment-card>
        </ul>
    </div>
</li>