<li class="comment-list-item">
    <!-- Comment Content -->
    <div class="comment-content">
        <!-- Comment User Photo -->
        <div class="comment-user-photo">
            <img src="http://placehold.it/120x120" class="" alt="user profile photo"> </div>
        <!-- End of Comment User Photo -->
        <!-- Comment Body -->
        <div class="comment-body">
            <div class="comment-header">
                <!-- Comment User Name -->
                <div class="comment-username">
                    <a href="#">Kimber Korgie</a>
                </div>
                <!-- End of Comment User Name -->
                <!-- Comment Meta -->
                <ul class="comment-meta">
                    <li class="comment-likes">11 likes</li>
                    <li class="comment-date">2015-02-18</li>
                </ul>
                <!-- End of Comment Meta -->
            </div>
            <!-- Comment Message -->
            <p class="comment-message"> Maxime, blanditiis impedit aperiam ut. Adipisci itaque ex perferendis autem voluptates nemo, blanditiis atque saepe officia aut soluta recusandae quas eius asperiores. </p>
            <!-- End of Comment Message -->
            <!-- Comment Actions -->
            <ul class="comment-actions">
                <li class="comment-action-item">
                    <a class="comment-action-like comment-action-liked" href="#">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>
                <li class="comment-action-item">
                    <a class="comment-action-reply" href="#">
                        <i class="fa fa-reply"></i>
                    </a>
                </li>
            </ul>
            <!-- End of Comment Actions -->
        </div>
        <!-- End of Comment Body -->
    </div>
    <!-- End of Comment Content -->


    <div class="comment-reply">
        <ul class="comment-list">
            <app-reply-comment-card></app-reply-comment-card>
        </ul>
    </div>
</li>