
    <!-- Blog Grid -->
    <div class="blog-grid">
        <div class="blog-grid-image">
            <a routerLink='/blog/article/{{ post.slug }}'>
                <span class="blog-grid-image-over"></span>
                <img src="{{ post.image }}" class="" alt="article image"> </a>
        </div>
        <h3 class="blog-grid-title">
            <a routerLink='/blog/article/{{post.slug}}'>{{ post.title }}</a>
        </h3>
        <p class="blog-grid-excerpt" [innerHTML]="post.summary | safe: 'html'">
        </p>
        <div class="blog-grid-meta">
            <span class="blog-grid-date">{{ post.date_display }}</span>
            <span class="blog-grid-author">by
                <a routerLink="/author/{{ post.author.id }}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
            </span>
        </div>
    </div>
    <!-- End of Blog Grid -->
 
                                
                                    
   
    